<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация о товаре</title>

    <link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">

</head>

<style>
    .any-center {
        display: flex;
        justify-content: center;}
</style>
<body class="bg-light">
<div class="container">
    <main>
        <div class="py-5 text-center">

            <a href="/index" class="btn btn-secondary btn-lg" type="button">Вернуться в каталог</a>

        </div>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" th:src="@{/assets/brand/logo.png}" alt="" width="72" height="57">
            <h2>Информация о <p th:text="${product.getTitle()}"></p></h2>
        </div>

        <div class="py-5 text-center">
    <h6><p th:text="'Наименование: ' + ${product.getTitle()}"></p></h6>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
   <h6><p th:text="'Цена: ' + ${product.getPrice()}"></p></h6>
       <h6><p th:text="'Склад: ' + ${product.getWarehouse()}"></p></h6>
           <h6><p th:text="'Продавец: ' + ${product.getSeller()}"></p></h6>
               <h6><p th:text="'Категория: ' + ${product.getCategory().getName()}"></p></h6>
            <div class="any-center">
            <div  th:each="img : ${product.getImageList()}">
        <img class="py-5 text-center" th:src="'/img/' + ${img.getFileName()}" height="400px">
    </div></div>

        </div>

</body>
</html>