<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мои заказы</title>

    <link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body class="bg-light">
<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" th:src="@{/assets/brand/logo.png}" alt="" width="72" height="57">
            <h2>Мои заказы</h2>
        </div>

        <div class="py-5 text-center" th:each="order : ${orders}">
    <h3 th:text="'Заказ № ' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="300px">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Цена: ' + ${order.getPrice()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Статус: ' + ${order.getStatus()}"></p>
    <hr>
</div>

        <div class="py-5 text-center">

            <a href="/index" class="btn btn-secondary btn-lg" type="button">Вернуться в каталог</a>

        </div>

</body>
</html>